.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #0496b8,
    #29aecb,
    #43c7dc,
    #5ee1ed,
    #79fafd
  );
  padding: 25px;
  .grid {
    width: 100%;
    max-width: 1300px;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
